<template>
  <div class="pa wrapper">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h1 class="topTitle">
            Dashboard
          </h1>
          <!-- <button class="pa generate">generate report</button> -->
        </div>
      </div>

      <div class="row d-flex justify-content-center pt-3 pb-5">
        <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-4 pt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                title1
              </h5>
              <p class="card-text">
                text1
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-4 pt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                title2
              </h5>
              <p class="card-text">
                text2
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-4 pt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                title3
              </h5>
              <p class="card-text">
                text3
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-4 pt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                title4
              </h5>
              <p class="card-text">
                text4
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-4 pt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                title5
              </h5>
              <p class="card-text">
                text5
              </p>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-12 col-xs-12 col-md-6 col-lg-4 col-xl-4 pt-3">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                title6
              </h5>
              <p class="card-text">
                text6
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
</script>

<style scoped>
  .pa {
    position: absolute;
    margin: 0;
    padding: 0;
  }

  .wrapper {
    width: 100%;
    height: auto;
    min-height: 100%;
    background: #e8e9ed;
  }

  .topTitle {
    color: #616a73;
    font-family: 'Arial';
    font-size: 20px;
    padding-top: 30px;
    left: 50px;
  }

  .generate {
    color: #fff;
    background: #4e73df;
    font-family: 'Arial';
    border: none;
    padding: 5px 10px;
    top: 30px;
    left: 85%;
  }

  .card {
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }
</style>