<template>
  <div class="pa wrapper">
    <div class="container">
      <div class="row pb-3">
        <div class="col">
          <h1 class="topTitle">title1</h1>
          <!-- <button class="pa generate">generate report</button> -->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style scoped>
.pa {
  position: absolute;
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100%;
  background: #e8e9ed;
}

.topTitle {
  color: #616a73;
  font-family: "Arial";
  font-size: 20px;
  padding-top: 30px;
  left: 50px;
}
</style>
